* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  min-width: 400px;
}

input {
  size: 10em;
  height: 2em;
  /*width: 40em;*/
  font-size: 14px;
}

button {
  margin-top: 1em;
  height: 30px;
  border-radius: 10%;
}

/*div {
  max-width: 600px;
}*/
