* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: lightgray;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  min-width: 400px;
}

#search-input {
  size: 10em;
  height: 2em;
  /*width: 40em;*/
  font-size: 14px;
  margin-top: 1em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

button {
  margin-top: 1em;
  height: 30px;
  border-radius: 10%;
}

.results {
  max-width: 600px;
  padding-left: 20px;
  margin-top: 20px;
}

.resultsPerPage {
  text-decoration: underline;
  padding-left: 20px;
  margin-top: 20px;
}
